body{
    font: arial 16px;
    background-color: #d2d2d2c1;
    margin: 0;
    padding: 0;
}

#principal{
    margin: 0 auto;
    max-width: 1400px;
}

#principal #cabecalho{
    background-color: rgba(11, 109, 148, 0.836);
    padding: 10px 0;
    text-align: center;
}

#cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #008cba;
}

.botoes a{
    transition: backgroud-color 0.3s ease, color 0.3 ease;
    text-decoration: none;
    background-color: yellow;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 10px, 15px;
    color: #333;
}

.botoes :hover{
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

#pesquisa input{
    padding: 5px;
    width: 300px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

#pesquisa input:focus{
    border-color: #007bff;
}

#menu{
    background-color: #333;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#menu a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: backgroud-color 0.3s ease, color 0.3 ease;
    margin-left: 120px;
    font: bold;
}

#menu a:hover{
    color: yellow;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

#banner img{
    width: 1400px;
}