body{
    font: arial 16px;
    background-color: #d2d2d2c1;
    margin: 0;
    padding: 0;
}

#principal{
    margin: 0 auto;
    max-width: 1400px;
}

#principal #cabecalho{
    background-color: rgba(11, 109, 148, 0.836);
    padding: 10px 0;
    text-align: center;
}

#cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #008cba;
}

.botoes a{
    transition: backgroud-color 0.3s ease, color 0.3 ease;
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 10px, 15px;
    color: #333;
}

.botoes :hover{
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

#pesquisa input{
    padding: 5px;
    width: 300px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

#pesquisa input:focus{
    border-color: #007bff;
}

#menu{
    background-color: #333;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#menu a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: backgroud-color 0.3s ease, color 0.3 ease;
    margin-left: 120px;
    font: bold;
}

#menu a:hover{
    color: yellow;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.container h3{
    background-color: rgba(11, 109, 148, 0.836);
    color: white;
    padding: 10px;
    margin-top: 0;
}

#banner img{
    width: 1400px;
}

#container_produto{
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    padding: 20px;
    justify-content: center;
}

.div_produtos h3{
    background-color: rgba(11, 109, 148, 0.836);
    color: white;
    padding: 10px;
}

.card-produto{
    background-color: rgba(255, 255, 255, 0.658);
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    padding: 15px;
    box-shadow: 0 4px 8px rgb(0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comprar a{
    text-decoration: none;
    background-color: rgba(11, 150, 168, 0.651);
    color: white;
    font: bold;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comprar a:hover{
    color: white;
    background-color: rgb(29, 77, 29);
}

.footer{
    justify-content: space-around;
    padding: 20px;
    background-color: #333; 
    color: white;
}

#sobre{
    text-align: center;
    color: white;
    
}

#contatos{
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;
    padding: 10px;
}

#contatos a{
    color: white;
    text-decoration: none;
    gap: 5px;
    padding: 10px;
}

#contatos a:hover{
    color: yellow;
}